{% for block in section.blocks %}
<figure class="snip1568">
  <figcaption>
    <h3> {{ block.settings.text-box-name }} </h3>
    <h4> {{ block.settings.text-box-content }} </h4>
    <p> {{ block.settings.text-box-description}} </p>
  </figcaption>
  <div class="profile-image"><img src="{{ block.settings.link }}"/>
    <div class="icons"><a href="#"><i class="ion-social-reddit"></i></a>
      <a href="#"> <i class="ion-social-twitter"></i></a>
      <a href="#"> <i class="ion-social-vimeo"></i></a>
    </div>
  </div>
</figure>
{% endfor %}

{% schema %}
{
  "name": "Custom content",
  "blocks": [
  {
    "type": "text",
    "name": "Person",
    "settings": [
    {
      "type": "text",
      "id": "text-box-name",
      "label":"Name",
      "default": "Macklin Zhong"
    },
    {
      "type": "text",
      "id": "text-box-content",
      "label": "Position",
      "default": "Owner"
    },
    {
      "type": "richtext",
      "id": "text-box-description",
      "label": "Text",
      "default": "<p>Bio</p>"
    },
    {
      "type": "url",
      "id": "link",
      "label": "Picture"
    }
    ]
  }
  ]
}
{% endschema %}

{% stylesheet %}
  @import url(https://fonts.googleapis.com/css?family=Montserrat);
  @import url(https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css);
  @import url(https://fonts.googleapis.com/css?family=Open+Sans);
  .snip1568 {
    font-family: 'Open Sans', Arial, sans-serif;
    position: relative;
    display: inline-block;
    min-width: 230px;
    max-width: 315px;
    color: #141414;
    text-align: left;
    line-height: 1.4em;
    font-size: 14px;
    box-shadow: none !important;
    margin: 20px;
  }

  .snip1568 * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }

  .snip1568 .profile-image img {
    border-radius: 5px;
    max-width: 100%;
    height: 80px;
    vertical-align: top;
    float: left;
  }

  .snip1568 figcaption {
    width: 100%;
    background-color: #333333;
    color: #fff;
    padding: 25px;
    display: inline-block;
    margin-bottom: 15px;
    border-radius: 5px;
    position: relative;
  }

  .snip1568 figcaption:after {
    content: '';
    position: absolute;
    left: 32px;
    top: 100%;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 10px 0 10px;
    border-color: #333333 transparent transparent transparent;
  }

  .snip1568 h3,
  .snip1568 h4,
  .snip1568 p {
    margin: 0 0 5px;
  }

  .snip1568 h3 {
    font-weight: 600;
    font-size: 1.2em;
    font-family: 'Montserrat', Arial, sans-serif;
  }

  .snip1568 h4 {
    color: #8c8c8c;
    font-weight: 400;
    letter-spacing: 2px;
  }

  .snip1568 p {
    font-size: 0.9em;
    letter-spacing: 1px;
    opacity: 0.9;
  }

  .snip1568 .icons {
    padding: 20px 90px;
    text-shadow: 1px 1px 1px #ccc;
    font-size: 1.5em;
  }

  .snip1568 i {
    padding: 10px 2px;
    display: inline-block;
    font-size: 18px;
    font-weight: normal;
    color: #ffffff;
    opacity: 0.75;
  }

  .snip1568 i:hover {
    opacity: 1;
    -webkit-transition: all 0.35s ease;
    transition: all 0.35s ease;
  }

  body {
    background: gray;
  }

{% endstylesheet %}

{% javascript %}
{% endjavascript %}
